/* add CSS class and element and selectors here */
 body {
      background-color: #D6FFE5;
      font-size: 75%;
    }
    
    h1 {
      color: purple;
    }
    
    h2 {
      color: purple;
    }
    
    .info-section {
      font-size: 300%;
      font-family: 'Lobster', cursive;
      border: 1px dotted red;
    }
    
    #title-section {
      color: red;
    }